// Body
$body-bg: #13151f;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary : #1a1d2a;
$info : #13151f;
//$theme-colors: (
//    "primary":    $primary,
//    "secondary":  $secondary,
//    "success":    $success,
//    "info":       $info,
//    "warning":    $warning,
//    "danger":     $danger,
//    "light":      $light,
//    "dark":       $dark
//);
