body{
    transition: .8s background-color;
}
body.dark{
    background-color: #212121;
    color: #cecccc;
}

body.dark .icofont-navigation-menu {
    color: #cecccc;
}

body.dark .box{
    background-color: #2e2e2d;
}

body.dark .page-item .page-link{
    color: #6c757d;
    background-color: #2e2e2d;
    border-color: grey;
}


body.dark .page-item.active .page-link{
    color: #a8a9a9;
    background-color: #1c1c1b;
}

body.dark .course-info,.course,.loader{
    background: transparent !important;

}

body.dark .dropdown-menu,.customInput,.dropdown-item {
    background-color: #212121;
    color: #cecccc;
}

body.dark .form-control{
    background-color: #212121;
    color: #cecccc;
}

body.dark .note-editable{
    color: #cecccc !important;
}

body.dark .btn-outline-info{
    border-color: whitesmoke;
    color: whitesmoke;
}

body.dark .table{
    color: #cecccc !important;
}
body.dark .navbar{
    background-color: #2c2b2b !important;
}

body.dark .navbar .nav-link{
    color: #797777;
}

body.dark .music-box{
    background-color: #212121;
    color: whitesmoke;
}

body.dark .inlineProgress{
    background-color: greenyellow;
}
